body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/*=========== Typography ===========*/

h1 {
  color: whitesmoke;
  font-size: 1.75rem;
}

.subheading {
  display: block;
  color: #F2C4C4;
  font-size: 1rem;
  margin-top: 0.25em;
}

h2 {
  color: #8C2A2A;
  font-size: 1.375rem;
  margin-top: 0;
}

.section-two h2{
  color: inherit;
}

p {
  line-height: 1.5;
}

/*=========== Links ===========*/ 

a:hover {
  color: #F2C4C4;
}

.btn {
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  padding: 0.5em 1em;
  text-align: center;
  margin-bottom: 1em;
  display: block;
}

.btn-dark {
  color: whitesmoke;
  background-color: #8C2A2A;
}

.btn-mid {
  color: #8C2A2A;
  background-color: #F2C4C4;
}

.btn-light {
  color: #8C2A2A;
  background-color: whitesmoke;
}

.btn:hover,
.btn:active {
  color: whitesmoke;
  background-color: #1A1A1A;
}

/*=========== layout ===========*/

header,
.section-two {
  background-color: #8C2A2A;
}

header,
section,
footer {
  padding: 1em 0;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.main-image {
  width: 100%;
  display: block;
  max-width: 800px;
  margin: 0 auto 2em;
}

.section-two {
  color: whitesmoke;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.img-item {
  flex: 1 260px;
  min-width: 0;
}

.section-two-img {
  width: 100%;
}

img {
  border-radius: 5px;
}

footer {
  text-align: center;
}

/*=========== Navigation ===========*/

nav a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.125rem;
  display: block;
  padding: 1em 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*=========== media queries ===========*/

@media (max-width: 767px) {
  header {
    text-align: center;
  }

  nav {
    margin-top: 1.5em;
  }

  li:not(:last-child) {
    border-bottom: 1px dotted #F2C4C4;
  }
}

@media (min-width: 768px) {
  header,
  section,
  footer {
    padding: 2em 0;
  }

  header .container,
  nav ul {
    display: flex;
  }

  header .container {
    justify-content: space-between;
    align-items: center;
  }

  nav li {
    margin-left: 1.25em;
  }

  .btn {
    display: inline-block;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .subheading {
    font-size: 1.25rem;
    margin-top: 0;
  }

  p {
    font-size: 1.125rem;
  }

  .section-two-img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
}